<form class="" ng-submit="submit(accounting)">
  <input class="w3-input" type="number" ng-model="accounting.begin">
  <input class="w3-input" type="number" ng-model="accounting.in_">
  <input class="w3-input" type="number" ng-model="accounting.out">
  <input class="w3-input" type="number" ng-model="accounting.ending">
  <input class="w3-input" type="text" ng-model="accounting.note">
  <p><input type="submit" class="w3-btn {{setTheme}}" style="margin-left:-15px;"  value="Submit"></p>
</fomr>
